ConversorNumerosPolaco/App_WebReferences/ServicioNumerosPolaco/ServicioNumerosPolaco2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioNumerosPolacoWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioNumerosPolacoWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56633/ServicioNumerosPolaco.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfConversion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Conversion" nillable="true" type="tns:Conversion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConversion" nillable="true" type="tns:ArrayOfConversion" />
  <xs:complexType name="Conversion">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ejemplos" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EjemplosMayuscula" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="ErrorRomano" type="xs:boolean" />
      <xs:element minOccurs="0" name="MasOpciones" nillable="true" type="tns:ArrayOfOpcion" />
      <xs:element minOccurs="0" name="MasOpcionesMayuscula" nillable="true" type="tns:ArrayOfOpcion" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Notas" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Referencias" nillable="true" type="q4:ArrayOfstring" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Respuestas" nillable="true" type="q5:ArrayOfstring" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RespuestasMayuscula" nillable="true" type="q6:ArrayOfstring" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitEjemplos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitNotas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitOpciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitReferencias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitValorNumerico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorNumerico" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Conversion" nillable="true" type="tns:Conversion" />
  <xs:complexType name="ArrayOfOpcion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Opcion" nillable="true" type="tns:Opcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOpcion" nillable="true" type="tns:ArrayOfOpcion" />
  <xs:complexType name="Opcion">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Opciones" nillable="true" type="q7:ArrayOfstring" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Opcion" nillable="true" type="tns:Opcion" />
</xs:schema>