ConversorNumerosPolaco/App_WebReferences/ServicioNumerosPolaco/ServicioNumerosPolaco1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56633/ServicioNumerosPolaco.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioNumerosPolacoWCF" />
  <xs:element name="Traducir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lenguaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraducirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioNumerosPolacoWCF" minOccurs="0" name="TraducirResult" nillable="true" type="q1:ArrayOfConversion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>